.user-info-container {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: #131313;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 10px;
  font-weight: bold;
}

input,
textarea {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #131313;
  border-radius: 5px;
}

button {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
